/*.topnav img {
   padding: 2.5px;
   max-height: 90%;
   border-radius: 1.5px;
}

.topnav-right a:hover {
   background-color: #000;
   opacity: 0.9;
}
*/

.navbar-brand img{
   width:57.5;
   height:45;
   border-radius:100%;
}
/*
.topnav {
   height: 70px;
   background-color: #333;
   overflow: hidden;
}
*/
.nav-link a{
   color:black;
}

.topnav a {
   color: #f2f2f2;
   text-align: center;
   padding: 22px;
   text-decoration: none;
   /*Deletes the line underneath text*/
   font-size: 17px;
}

.topnav-right {
   padding: 22px;
   float: right;
}


.team container img{
   width:100%;
}

.services {
   text-align: center;
   color:black;
}

.services h4{
   color:black;
   text-align: center;
}

.services p{
   text-align: center;
}
.services img {
   width: 11%;
   text-align:center;
   height:25%;
}

/* Editing the images of trusted by section*/

.trustedby .img1 {
   height: 200px;
   width: 200px;
}

.trustedby .img2 {
   border-radius: 100%;
   width: 200px;
   height: 200px;
}

.trustedby .img3 {
   width: 200px;
   height: 200px;
}

.trustedby .img4 {
   width: 200px;
   height: 200px;
}

.trustedby {
   text-align: center;
}

.team {
   text-align: center;
}

.contact {
   text-align: center;
}

.train {
   border-right: solid 1px;
}

.journey {
   text-align: left;
}

.slideshow {
   height: 450px;
}

#motto {
   font-weight: bold;
   font-size: 60px;
   font-family:habana;
   position:absolute; 
   left:110px;
   top:120px; 
   z-index:2;
   color:navy;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 9px #999;*/
}

button:hover {background-color: #3e8e41}

/*button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.entirefooter h5{
   color:white;
}

.entirefooter i{
   color:white;
   font-size:12px;
}

.entirefooter p{
   color:white;
   font-size:12px;
}

.entirefooter h1{
   text-align: center;
   font-size:30px;
   color:white;
}
.entirefooter div{
   text-align: center;
   font-size:14px;
   color:black;
}
.footer
{
   background-color:black;
   vertical-align:top;
   height:300px;
}

.team img{
   width:200px;
   height:160px; 
   border-radius:500%;
}

.team p {
   font-style: oblique;
}

.ferry p {
   font-style: oblique;
   font-weight: bold;
   font-size: x-large;
}

.train p {
   font-style: oblique;
   font-weight: bold;
   font-size: x-large;
}
@font-face
{
	font-family: habana; src: url("BebasNeue-Regular.ttf");
}

body{
   background-image: linear-gradient(#A770EF, #CF8BF3, #FDB99B);
}